@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@300;500&family=Nabla&family=Poppins:wght@300;500&family=Roboto:wght@300&display=swap');
.category-pill {
    // font-family: sofia-pro;
    font-style: normal;
    font-weight: 400;
    color: #353c55;
    background-color: #f2f3f7;
    margin-right: 8px;
    padding: 7px 9px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 2px;
    height: 36px;
}

.location {
    padding-top: 2px;
    margin-left: 5px;
}

h3 {
    font-family: Heebo;
    font-weight: 500;
    font-size: 26px;
}