<app-navbar></app-navbar>

<div class="container my-5 " style="min-height: 602px;">
  <h1>Charity Creation</h1>
  <form class="mt-5 ">
    <div [ngSwitch]="currentStep">
      <div *ngSwitchCase="1">
        <h2>Step 1: Charity Details</h2>
        <div>
          <label for="name">Charity Name:</label>
          <input
            type="text"
            [(ngModel)]="charity.name"
            name="name"
            id="name"
            required
          />
        </div>

        <!-- <div class="my-2">
          <label for="logo">Logo:</label>
          <input [(ngModel)]="charity.logo" name="logo" />
        </div> -->

        <div class="my-2">
            <label for="logo">Logo:</label>
            <input type="file"  (change)="onFilesSelected($event)" name="logo" />
          </div>

        <div>
          <label for="foundationYear">Foundation Year:</label>
          <input list="years" [(ngModel)]="charity.foundationYear" name="foundationYear" />
          <datalist id="years">
            <option *ngFor="let year of yearOptions" [value]="year"></option>
          </datalist>
        </div>
        

        <div>
          <label for="numJort">Num Jort:</label>
          <input [(ngModel)]="charity.numJort" name="numJort" />
        </div>

        <div>
          <label for="rib">RIB:</label>
          <input type="text" [(ngModel)]="charity.rib" name="rib" />
        </div>


        <!-- Add other fields for Step 1 -->
        <button (click)="nextStep()">Next</button>
      </div>

      <div *ngSwitchCase="2">
        <h2>Step 2: Contact Details</h2>

        <div>
          <label for="phone">Phone:</label>
          <input [(ngModel)]="charity.phone" name="phone" />
        </div>

        <div>
          <label for="street">Street:</label>
          <input [(ngModel)]="address.street" name="street" />
        </div>

        <!-- <div>
          <label for="city">City:</label>
          <input [(ngModel)]="address.city" name="city" />
        </div> -->

        <div>
          <label for="city">City:</label>
          <select [(ngModel)]="address.city" name="city">
            <option *ngFor="let city of citiesList" [value]="city">{{ city }}</option>
          </select>
        </div>

        <div>
          <label for="zipCode">Zip Code:</label>
          <input [(ngModel)]="address.zipCode" name="zipCode" />
        </div>

        <!-- Add other fields for Step 2 -->
        <button (click)="previousStep()">Previous</button>
        <button (click)="nextStep()">Next</button>
      </div>

      <div *ngSwitchCase="3">
        <h2>Step 3: Category</h2>
        <!-- <div>
          <label for="categoryName">Select Categories:</label>
          <select name="categories" [(ngModel)]="selectedCategories" class="form-select" multiple required>
            <option *ngFor="let cause of causeTypes" [value]="cause">
              {{ cause }}
            </option>
          </select>
        </div> -->

        <div>
          <ng-multiselect-dropdown
            name="categories"
            [placeholder]="'Select Categories'"
            [data]="causeTypes"
            [(ngModel)]="selectedCategories"
            [settings]="dropdownSettings"
          >
          </ng-multiselect-dropdown>
        </div>

        <div>
          <label for="description">Description:</label>
          <textarea
            [(ngModel)]="charity.description"
            name="description"
          ></textarea>
        </div>

        <!-- Add other fields for Step 3 -->
        <button (click)="previousStep()">Previous</button>
        <button (click)="createCharity()">Submit</button>
      </div>
    </div>
  </form>
</div>

<app-footer></app-footer>
