<h1 class="mb-5 ">Welcome, {{user.firstName}}!</h1>

<h3>Donation history</h3>

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Amount</th>
            <th scope="col">Charity Name</th>
            <th scope="col">Donation Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let donation of newArray">
            <!-- <th scope="row">1</th> -->
            <td>{{donation.amount}}$</td>
            <td>{{donation.recipient?.name}}</td>
            <td>{{donation.createdAt |  date: 'dd/MM/yy,  HH:mm'}}</td>
          </tr>

        </tbody>
      </table>
</div>