<app-navbar></app-navbar>

  <div class="page-wrapper chiller-theme toggled d-flex flex-row ">

    <div class="sidebar-wrapper">
      <div class="sidebar-content">
        <!-- sidebar-header  -->
        <div class="sidebar-header">
          <h1 class="logo-title">Charity<span class="logo-title-bold">Dash</span></h1>
        </div>
        
        <!-- sidebar-menu  -->
        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown">
              <a [routerLink]="['profile']">
                <i class="fa fa-tachometer-alt"></i>
                <span>Profile</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a [routerLink]="['followers']">
                <i class="fa fa-credit-card"></i>
                <span>Donations</span>
              </a>
            </li>
            <li class="sidebar-dropdown">
              <a [routerLink]="['events']">
                <i class="fa fa-calendar"></i>
                <span>Events</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
    
    <div class="page-content " style="margin-left: 250px;">
      <router-outlet></router-outlet>
    </div>
  </div>