.category-pill {
    // font-family: sofia-pro;
    font-style: normal;
    font-weight: 400;
    color: #353c55;
    background-color: #f2f3f7;
    margin-right: 8px;
    padding: 7px 9px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 2px;
    height: 36px;
}

.location {
    padding-top: 2px;
    margin-left: 5px;
}