<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body> -->
    <app-navbar></app-navbar>
    <div class="container">
        <div class="card mx-5 mt-5 container " style="max-width: 940px;">
            <div class="row gap-3 ">
              <div class="col-md-3 p-0 ">
                <img [src]="'http://localhost:8080/uploads/'+charity.files?.at(0)?.path" style="height: 200px; width: 250px;" class="img-fluid rounded-start object-fit-cover " alt="charity logo">
            </div>
              <div class="col-md-8">
                <div class="card-body">
                    <div class="d-flex justify-content-between ">
                        <h5 class="card-title">{{event.title}}</h5>
                        <li class="tg-list-item" *ngIf="test">
                          <input (change)="onSubmit()" [checked]='checked' class="tgl tgl-flip" id="cb5" type="checkbox"/>
                          <label class="tgl-btn" data-tg-off="Join" data-tg-on="Quit" for="cb5"></label>
                      </li>

                    </div>
                  <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                  <div class="row gap-5 mt-3 ">
                        <div class="col-3">
                            <p style="margin-bottom: 2px;"><i class="fa-solid fa-clock me-1"></i>Start at ?</p>
                            <p class="text-nowrap">{{event.startDate | date:'short'}}</p>
                        </div>
                        <div *ngIf="event.endDate" class="col-3">
                            <p style="margin-bottom: 2px;"><i class="fa-solid fa-clock me-1"></i>Ends at ?</p>
                            <p class="text-nowrap">{{ event.endDate | date: 'short' }}</p>
                        </div>
                        <div class="col-3">
                            <p style="margin-bottom: 2px;"><i class="fa-solid fa-location-dot me-1 "></i>Where ?</p>
                            <p>{{event.eventAddress?.street}}, {{event.eventAddress?.city}}</p>
                        </div>
                  </div>
                  <p class="card-text"><small class="text-body-secondary">Categories : </small>
                    <span class="badge badge-secondary bg-secondary mx-1 p-1" *ngFor="let category of charity.categories">{{category.categoryName?.toString()?.replace('_', ' ')}} </span>
                  </p>
                </div>
              </div>
            </div>
          </div>

        <div class="row justify-content-between mt-5 mx-5 ">
            <div class="col-7 ">
                <h3 class="mb-3 px-2"><i class="fa-solid fa-bars fa-sm me-2 "
                        style="color: #141415; vertical-align: baseline;"></i>Description</h3>
                <div class="left-upper-card card   pt-3 px-2 mb-5 ">
                    <p>{{event.description}} </p>
                </div>


            </div>


            <div class="col-4 right-card" style="max-width: 350px;">
                <h3 class="mb-3"><i class="fa-regular fa-building fa-sm me-2"
                        style="color: #141415; vertical-align: baseline;"></i>Organizer Info</h3>
                <div class="right-card card border-light-subtle    pt-3 px-4  ">
                    <div class="h6"><i class="fa-solid fa-hand-holding-hand"></i><span class="ms-2  fw-bold" style="vertical-align: middle; font-size: 20px;">Charity</span></div>
                    <p class="ms-4 fs-5   ">{{charity.name}} </p>

                    <div class="h6"><i class="fa-solid fa-phone"></i><span class="ms-2  fw-bold" style="vertical-align: middle; font-size: 20px;">Phone</span></div>
                    <p class="ms-4">{{charity.phone}} </p>

                    <div class="h6"><i class="fa-solid fa-at"></i><span class="ms-2  fw-bold" style="vertical-align: middle; font-size: 20px;">Email</span></div>
                    <p class="ms-4">{{charity.email}} </p>

                    <div class="h6"><i class="fa-solid fa-map-pin"></i><span class="ms-2  fw-bold" style="vertical-align: middle; font-size: 20px;">Address</span></div>
                    <p class="ms-4">{{charity.address?.street}}, {{charity.address?.city}}</p>


                    <!-- <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="37" class="me-1">
                            <path
                                d="M256 73.825a182.18 182.18 0 0 0-182.18 182.18c0 100.617 81.567 182.17 182.18 182.17a182.175 182.175 0 1 0 0-364.35zm-93.061 115.972h186.127l.008.03L256 247.865l-93.07-58.04zm202.195 122.598a19.522 19.522 0 0 1-19.52 19.52H166.378a19.525 19.525 0 0 1-19.52-19.52V209.317a19.926 19.926 0 0 1 .308-3.34l102.998 64.23c.132.08.264.132.396.211.132.07.272.14.413.211a10.967 10.967 0 0 0 2.242.87c.079.018.157.044.236.061a11.318 11.318 0 0 0 2.541.317h.017a11.35 11.35 0 0 0 2.544-.317c.075-.017.154-.043.234-.06a11.582 11.582 0 0 0 2.25-.87c.132-.07.272-.14.408-.212.128-.079.268-.132.392-.211l102.99-64.23a19.025 19.025 0 0 1 .307 3.34v103.078z"
                                data-name="Mail" />
                        </svg><span class="fw-bold fs-5" style="vertical-align: middle;">Email</span></div>
                    <p class="ms-4 mt-2 ">test</p>

                    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="37" class="me-1">
                            <path
                                d="M256 73.825a182.175 182.175 0 1 0 182.18 182.18A182.177 182.177 0 0 0 256 73.825zm78.715 116.007-69.143 158.555a6.292 6.292 0 0 1-5.775 3.77c-.132 0-.264 0-.404-.01a6.3 6.3 0 0 1-5.643-4.525l-19.248-65.874-65.874-19.248a6.3 6.3 0 0 1-.747-11.822l158.546-69.143a6.298 6.298 0 0 1 8.288 8.297z"
                                data-name="Location" />
                        </svg><span class="fw-bold fs-5" style="vertical-align: middle;">Address</span></div>
                    <p class="ms-4 mt-2 ">test</p> -->
                </div>
                <!-- <a class="btn btn-success mt-2 ">Donate</a> -->
            </div>

        </div>
    </div>
    <app-footer></app-footer>
<!-- 
</body>



</html> -->