<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>

<body>
    <app-navbar></app-navbar>
    <div class="container">
        <section class="charity-header container pt-5  d-flex gap-5 mx-5">
            <div class="image-card"
                [style.backgroundImage]="'url(http://localhost:8080/uploads/' + charity.files?.at(0)?.path + ')'"
                style="background-size: cover;">
            </div>
            <!-- [src]="'http://localhost:8080/uploads/'+charityData.files?.at(0)?.path" -->
            <div class="mt-1">
                <div class="d-flex align-items-center ">
                    <h1>{{charity.name}}</h1>
                    <div *ngIf="session" class="anim-icon anim-icon-md bookmark" style="margin-top: 13px;">
                        <input type="checkbox" id="bookmark1" [checked]='checked' (change)="onSubmit()" />
                        <label for="bookmark1"></label>
                    </div>

                </div>

                <div class="mb-1"><svg xmlns="http://www.w3.org/2000/svg" height="0.9em" viewBox="0 0 448 512"
                        style="margin-bottom: 4px;">
                        <path
                            d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z" />
                    </svg><span class="ms-2">Founded in {{charity.foundationYear}}</span></div>

                <div><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512"
                        style="margin-bottom: 4px;">
                        <path
                            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
                    </svg><span class="ms-2">{{charity.address?.city}}</span></div>

                <button class="btn btn-success mt-2 " (click)="openModal()">Donate</button>
                <!-- <a href="" class="btn btn-info  mt-4 ms-2 ">Follow</a> button-13 -->
                <!-- <button class="btn btn-primary" >Open modal</button> -->
            </div>
        </section>

        <div class="row justify-content-between mt-5 mx-5 ">
            <div class="col-7 ">
                <h3 class="mb-3 px-2"><i class="fa-solid fa-bars fa-sm me-2 "
                        style="color: #141415; vertical-align: baseline;"></i>Description</h3>
                <div class="left-upper-card card   pt-3 px-2 mb-5 ">
                    <p>{{charity.description}}</p>
                </div>

                <h3 class="mb-3 px-2"><i class="fa-solid fa-calendar-days fa-sm me-2 "
                        style="color: #141415; vertical-align: baseline;"></i>Events</h3>
                <!-- <div class="left-upper-card card border-0 pt-3 px-2">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos voluptatum eum consectetur dolore minima officia ex ab accusamus maxime! At optio sint modi tenetur molestias hic corporis perspiciatis animi debitis!</p>
                </div> -->
                <div class="card mb-4" style="width: auto;" *ngFor="let event of eventss">
                    <div class="row g-3">
                        <div class="col-md-3 bg-danger ">
                            
                            <h2 class="text-light text-center ">14 Nov 2032</h2>
                        </div>
                        <div class="col-md-8 mt-2">
                            <div class="card-body d-flex flex-column justify-content-evenly  ">
                                <h3 class="card-title mb-3" style="font-weight: 400; font-size: 20px;">Wallah we can
                                </h3>

                                <p class="card-text d-flex align-content-center  ">

                                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                                    <span class=" location">Cite de la culture</span>
                                </p>
                                <p><i class="fa-regular fa-clock"></i> 14 Nov 2023</p>
                                <div class="d-flex ">
                                    <span class="category-pill  ">HEALTHCARE</span>
                                </div>


                             
                            </div>
                        </div>
                    </div>
                </div>

            

                <!-- ****** card jamaity ***** -->
                <!-- <div class="col-md-7">
                    <div class="panel">
                        <div class=" row-eq-height no-margin no-padding">
                            <div class="col-md-3 no-margin bg-event event-time event-time-xs no-padding"> <a
                                    href="https://jamaity.org/event/jetxpo-le-salon-national-dexposition-des-entreprises/"
                                    class=""> <time datetime="2023-Nov-19"> <span class="day">19</span> <span
                                            class="month">Nov</span> <span class="year">2023</span> <span
                                            class="time">ALL DAY</span> </time> </a> </div>
                            <div class="col-md-9">
                                <div class="panel-body">
                                    <h3 class="h5 text-center"> <a
                                            href="https://jamaity.org/event/jetxpo-le-salon-national-dexposition-des-entreprises/">
                                            JET’XPO: Le Salon National d’exposition des Entreprises </a> </h3> <span
                                        class="text-muted small"><span class="zicon-location-5"></span> Cité De La
                                        Culture De Tunis</span> <span class="text-muted small"><span
                                            class="zicon-clock"></span> à partir de 09:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>


            <div class="col-3 right-card">

                <h3 class="mb-3"><i class="fa-regular fa-address-book fa-sm me-2"
                        style="color: #141415; vertical-align: baseline;"></i>Contacts</h3>
                <div class="right-card card border-light-subtle    pt-3 px-4  ">
                    <div><svg xmlns="http://www.w3.org/2000/svg" height="37" viewBox="0 0 512 512" class="me-1">
                            <g data-name="Smart Phone 03">
                                <path
                                    d="M205.745 171.435h99.497V332.01h-99.497zM241.82 348.327h24.873v13.439H241.82z" />
                                <path
                                    d="M256 61.677c-107.32 0-194.32 87.005-194.32 194.32s87 194.325 194.32 194.325 194.32-87.01 194.32-194.325-87-194.32-194.32-194.32zm75.37 285.286c0 19.566-40.022 30.469-77.114 30.469s-74.63-10.903-74.63-30.469V166.607c0-19.575 37.538-30.47 74.63-30.47s77.114 10.895 77.114 30.47z" />
                            </g>
                        </svg><span class="fw-bold fs-5" style="vertical-align: middle;">Phone</span></div>
                    <p class="ms-4 mt-2 ">{{charity.phone}}</p>


                    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="37" class="me-1">
                            <path
                                d="M256 73.825a182.18 182.18 0 0 0-182.18 182.18c0 100.617 81.567 182.17 182.18 182.17a182.175 182.175 0 1 0 0-364.35zm-93.061 115.972h186.127l.008.03L256 247.865l-93.07-58.04zm202.195 122.598a19.522 19.522 0 0 1-19.52 19.52H166.378a19.525 19.525 0 0 1-19.52-19.52V209.317a19.926 19.926 0 0 1 .308-3.34l102.998 64.23c.132.08.264.132.396.211.132.07.272.14.413.211a10.967 10.967 0 0 0 2.242.87c.079.018.157.044.236.061a11.318 11.318 0 0 0 2.541.317h.017a11.35 11.35 0 0 0 2.544-.317c.075-.017.154-.043.234-.06a11.582 11.582 0 0 0 2.25-.87c.132-.07.272-.14.408-.212.128-.079.268-.132.392-.211l102.99-64.23a19.025 19.025 0 0 1 .307 3.34v103.078z"
                                data-name="Mail" />
                        </svg><span class="fw-bold fs-5" style="vertical-align: middle;">Email</span></div>
                    <p class="ms-4 mt-2 ">{{email}}</p>

                    <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="37" class="me-1">
                            <path
                                d="M256 73.825a182.175 182.175 0 1 0 182.18 182.18A182.177 182.177 0 0 0 256 73.825zm78.715 116.007-69.143 158.555a6.292 6.292 0 0 1-5.775 3.77c-.132 0-.264 0-.404-.01a6.3 6.3 0 0 1-5.643-4.525l-19.248-65.874-65.874-19.248a6.3 6.3 0 0 1-.747-11.822l158.546-69.143a6.298 6.298 0 0 1 8.288 8.297z"
                                data-name="Location" />
                        </svg><span class="fw-bold fs-5" style="vertical-align: middle;">Address</span></div>
                    <p class="ms-4 mt-2 ">{{charity.address?.street}}, {{charity.address?.city}}
                        {{charity.address?.zipCode}}</p>
                </div>
                <!-- <a class="btn btn-success mt-2 ">Donate</a> -->
            </div>

        </div>
    </div>
    <app-footer></app-footer>

</body>

<script>
    function demo() {
        /***
          Add your demo script here...
          In this demo, click my button after 1000 milliseconds 
          You have approx three seconds to show off your stuff.
        ***/

        demointerval = setInterval(function () {
            var chkbox = document.querySelector('input[type="checkbox"]:not([checked])');
            if (chkbox) {
                chkbox.click();
                chkbox.setAttribute('checked', 'checked');
            } else {
                clearInterval(demointerval);
            }
        }, 600);
    }
    // Run demo if in searchresult preview frame
    // https://codepen.io/jesperkc/post/trigger-animation-in-preview-frame
    if (document.location.pathname.indexOf('fullcpgrid') > -1) {
        demo();
    }
</script>

</html>