 <!-- Image Showcases-->
 <section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h4>Our Goals</h4>
                <h2>Why Uplift?</h2>
                <p class="lead mb-0">Our website's goal is to connect people with charities effortlessly. We aim to make it simple for individuals to find and support causes they care about, fostering a direct link between those who want to help and the charitable organizations that need support.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Raise Awareness Among the Public</h2>
                <p class="lead mb-0">We aim to raise public awareness about crucial social and humanitarian issues. Through our platform, we empower individuals to become advocates for positive change, fostering a collective effort to address societal challenges and improve the well-being of communities in need.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Enhancing Activities Globally</h2>
                <p class="lead mb-0">Our goal is to enhance activities globally by fostering collaboration and support for initiatives that make a positive impact. Through our platform, we aim to connect individuals and organizations across borders, creating a network that amplifies the reach and effectiveness of charitable and humanitarian efforts on a global scale.</p>
            </div>
        </div>
    </div>
</section>