.charities-header {
    // background-image: url("../../../../assets/img/bg-masthead.jpg");
    background-image: url("../../../../assets/img/cq5dam2.jpeg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 0.1;
}