<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Uplift.Tn <i>Collective Compassion, Lasting Change. </i> Is an initiative dedicated to fostering positive change. At UpLift, our mission is to make a meaningful impact through collective efforts. We believe in empowering individuals and inspiring a global movement of generosity. Our focus extends across various areas, addressing crucial issues and creating a brighter future for all. Join us on this journey of compassion and thank you for being a valuable part of our mission for positive change.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="">Healthcare</a></li>
          <li><a href="">Education</a></li>
          <li><a href="">Poverty Alleviation</a></li>
          <li><a href="">Environment</a></li>
          <li><a href="">Animal Welfare</a></li>
          <li><a href="">Child Welfare</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="">About Us</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Contribute</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2023 All Rights Reserved by <a href="#">Uplift</a>.
        </p>
      </div>
    </div>
  </div>
</footer>