<div class="p-4 border-bottom  border-1">
    <div class="container">
        <div class="header container d-flex justify-content-between align-items-center mb-3">
            <h2 class="fw-medium  " style="font-family: Poppins; ">Charities</h2>
            <a routerLink="/charities" class="viewbutton">View More</a>
        </div>
        <div class="cards row gap-4 p-3  justify-content-around mb-4 ">

            <div class="card col-3 p-0"
                style="font-weight: 400; box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;"
                *ngFor="let charity of charities">
                <a [routerLink]="['/charity/', charity.id]"
                    class="text-decoration-none d-flex flex-column justify-content-between  " style="all:unset">


                    <div class="header border-top " style="height: 250px; overflow: hidden; border-radius: 10px;">
                        <img class="card-img-top " style=" width: 100%; height: 250px; object-fit: cover;"
                            [src]="'http://localhost:8080/uploads/'+charity.files?.at(0)?.path" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h3>{{charity.name}}</h3>
                        <p style="font-size: 14px; font-weight: lighter; color: rgb(55, 55, 55); overflow: hidden;">{{
                            charity.description | slice:0:100 }}{{ (charity.description ?? '').length > 100 ? '...' : ''
                            }}</p>
                        <!-- <div class="category-pill text-center m" style="width: 90px;">children</div> -->
                    </div>

                    <div class="footer px-2">
                        <div class="d-flex ">
                            <span class="category-pill  "
                                *ngFor="let category of charity.categories">{{category.categoryName?.toString()?.replace('_',
                                ' ')}} </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>